<h1>The Word</h1>

<ul id="ideas">
  <% @ideas.each do |idea| %>
    <li>
      <%= link_to idea.truth, idea_path(idea) %>
      <%= idea.created_at.strftime("Created on: " + "%A" + ", " + "%b-%d-%Y") %>
      <strong> By: <%=idea.author%></strong>
    </li>
  <% end %>
</ul>
