<h1>All Cafes</h1>

<ul id="caves">
  <% @caves.each do |cafe| %>
    <li>
      <%= link_to cafe.name, cafe_path(cafe) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New Cafe", new_cafe_path, class: "new_cafe" %>
