/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*h3 {
  color : solid black;
}
#container {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  border-radius: 15px;
  padding-left: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}*/

/* Remove the navbar's default margin-bottom and rounded borders */
body {
  position: static;
  /*background-image: url("https://andsodoesthemoon.files.wordpress.com/2014/02/1920s-parisian-cafe.jpg");*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /*font-family: 'Playfair Display', serif;
  font-family: 'Playfair Display SC', serif;
  font-family: 'Droid Sans Mono', ;*/
  z-index: -1;
  background-color: white;
}

div.col-md-12.text-center {
  background-color: white;
}

li {
list-style-type: none;
text-align: left;
font-family: 'Playfair Display', serif;

}

h3 {
  font-family: 'Playfair Display', serif;

}

a {
  font-family: 'Playfair Display SC', serif;

}

h5{
  font-family: 'Playfair Display', serif;

}

.bin {
  position: inherit;
  width: 100%;
  z-index: 1;
}

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 250px}

    /* Set gray background color and 100% height */
    /*.sidenav {
      padding-top: 20px;
      height: 20%;
    }*/
    .pic {
      /*position: inherit;*/
      background-image: url("https://andsodoesthemoon.files.wordpress.com/2014/02/1920s-parisian-cafe.jpg");
      background-size: 100%;
      background-position: relative;
      /*height: 80%;*/
      text-align: center;
      vertical-align: middle;


    }

    .creativity {
      padding-top: 1%;
      padding-bottom: 1%;
      font-family: 'Playfair Display', serif;
      background-color: white !important

    }

    .with{
      position: inherit;
      font-family: 'Playfair Display SC', serif;
      color: white;
      padding-top: 5%;
      vertical-align: middle;
      font-size: 400%;
      padding-bottom: 5%;

    }

    .style {
      font-family: 'Playfair Display', serif;
      padding-top: 1%;
      padding-bottom: 1%;
      background-color: white !important;

    }

    .title{
      position: inherit;
      font-family: 'Playfair Display SC', serif;
      color: black;
      padding-top: 1%;
      padding-bottom: 1%;


    }

    /* Set black background color, white text and some padding */
    footer {
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #555;
      color: white;
      padding: 15px;
      margin-top :1% !important;
      font-family: 'Playfair Display', serif;


    }





    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
